@font-face {
    font-family: 'Inter-Bold';
    src: url('/fonts/Inter-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}

:root {
    --bs-body-font-family: 'Inter-Bold', system-ui;
    --bs-primary: #FF00FF;
    --bs-primary-rgb: 243, 10, 208;
}

.progress-bar {
    transition: none !important;
}

#animation {
    width: 100%;
    height: 100%;
    object-fit: contain;
    display: block;
}

.handle {
    margin-left: 1rem;
    margin-bottom: 1rem;
    color: #FFF;
    text-shadow:
        -1px -1px 0 #000,
        1px -1px 0 #000,
        -1px 1px 0 #000,
        1px 1px 0 #000;
}